#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: url(/pageloader/loader.png) no-repeat center center;
    z-index: 100;
    background-size: 10%;
    /* opacity: 0.5; */
}
